html,
body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size:16px;
  line-height: 1.42;
}

footer {
  height: 150px; // фиксированая высота футера
}

.page {
  min-height: 100%;
  margin-bottom: -150px; // Равно высоте футера
  background: url("../img/mountains1200.png") 0 0 no-repeat;
  background-size: cover;
}

.page:after {
  content: '';
  display: block;
  height: 150px; // Равно высоте футера
}

.footer-intro {
  height: 75px;
  background: transparent;
  padding: 30px 0;

  &__content {
    text-align: center;
    font-weight: 300;
    color: #fff;
  }
}

.page {
  min-height: 100%;
  margin-bottom: -75px;
}

.page:after {
  content: '';
  display: block;
  height: 75px;
}