.normal-title {
  font-family: Bernier;
  font-size: 35px;
  max-width: 305px;
  margin: 0 auto;
  text-align: center;

  &__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
  }

  &:before, &:after {
    content: "-";
    height: 100%;
    display: inline-block;
  }
}