@import "common/fonts";
@import "helpers/_mixins";

html,
body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size:16px;
  line-height: 1.42;
  position: relative;

  @include phones() {
    font-size: 14px;
  }
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @TODO Need to put this style into any component folder
.fluid-container {
  max-width: 1680px;
}

.page-top {
  background: url("../img/mountains1200.png") 0 0 no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}

.container {
  width: 1150px;
  margin: 0 auto;

  @include desktop() {
    width: 942px;
  }

  @include laptop() {
    width: 95%;
  }
}

@import "components/header-intro";
@import "components/auth-block";
@import "components/person";
@import "components/main-intro";
@import "components/page-intro";
@import "components/footer-intro";
@import "components/social-links.scss";
@import "components/introduction-block";
@import "components/fontawesome";
@import "components/popup-menu";

//blog
@import "components/header";
@import "components/main";
@import "components/articles-nav";
@import "components/articles";
@import "components/article";
@import "components/footer";

// works 
@import "components/page";
@import "components/site-slider";
@import "components/feedback";
@import "components/main-content";
@import "components/site-introduction";

@import "template/layout-main.scss";
@import "components/large-title";
@import "components/normal-title";