@import "common/fonts";
@import "helpers/_mixins";

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import "template/layout-intro-skeleton";
@import "template/header-intro.scss";
@import "components/auth-block";
@import "components/person";
@import "components/main-intro";
@import "components/page-intro";
@import "components/footer-intro";
@import "components/social-links.scss";
@import "template/introduction-block.scss";
@import "template/fontawesome.scss";

@import "template/layout-main.scss";
@import "template/large-title.scss";
@import "template/normal-title.scss";