footer.footer
    section.footer__links
        ul.footer__site-links
            li.footer__site-links-item
                a.footer__site-links-link(href="works.html")
                    span.site-links-text Мои работы
            li.footer__site-links-item
                a.footer__site-links-link(href="about.html")
                    span.footer__site-links-text Обо мне
            li.footer__site-links-item
                a.footer__site-links-link(href="blog.html")
                    span.footer__site-links-text Блог
            li.footer__site-links-item
                a.footer__site-links-link(href="welcome.html")
                    span.footer__site-links-text Авторизация
        ul.footer__social-links
            li.footer__social-links-item
                a.footer__social-links-link(href="https://vk.com/id67917958" target="_blank")
                    span.fa.fa_vk.fa_large.fa_lighter
            li.footer__social-links-item
                a.footer__social-links-link(href="https://github.com/Gesparo" target="_blank")
                    span.fa.fa_github_alt.fa_large.fa_lighter
            li.footer__social-links-item
                a.footer__social-links-link
                    span.fa.fa_linkedin.fa_large.fa_lighter
    section.footer__copyright
        p.footer__about-me.
            Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования
            LoftSchool.
        p.footer__about-author.
            © Владимир Астахов | создано с любовью в LoftSchool | 2016