footer.footer
    section.footer__links
        ul.footer__site-links
            li.footer__site-links-item
                a.footer__site-links-link(href="works.html")
                    span.site-links-text Мои работы
            li.footer__site-links-item
                a.footer__site-links-link(href="about.html")
                    span.footer__site-links-text Обо мне
            li.footer__site-links-item
                a.footer__site-links-link(href="blog.html")
                    span.footer__site-links-text Блог
            li.footer__site-links-item
                a.footer__site-links-link(href="/")
                    span.footer__site-links-text Авторизация
        .footer__social-block
            ul.social-links.social-links_theme-white
                li.social-links__item
                    a.social-links__link(href="https://vk.com/id67917958" target="_blank")
                        span.fa.fa_vk.fa_rounded
                li.social-links__item
                    a.social-links__link(href="https://github.com/Gesparo" target="_blank")
                        span.fa.fa_github_alt.fa_rounded
                li.social-links__item
                    a.social-links__link(href="#" target="_blank")
                        span.fa.fa_linkedin.fa_rounded
    section.footer__copyright
        p.footer__about-me.
            Я веб-разработчик из Оренбурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования
            LoftSchool.
        p.footer__about-author.
            © Владимир Астахов | создано с любовью в LoftSchool | 2016