header.header
    ul.header__social-block
        li.header__social-item
            a.header__social-link
                span.fa.fa_vk.fa_large.fa_lighter
        li.header__social-item
            a.header__social-link
                span.fa.fa_github_alt.fa_large.fa_lighter
        li.header__social-item
            a.header__social-link
                span.fa.fa_linkedin.fa_large.fa_lighter
    .header__menu
        a.header__social-link
            span.fa.fa_bar.fa_large.fa_lighter