main.main
    .main__avatar-block
        .avatar-block__img-block
            img.avatar-block__img(src="assets/img/avatar.png")
    header.main__title-block.title-block
        .large-title
            span.large-title__text Блог
        .title-block__desc
            span.title-block__desc-text Статьи, которые я написал