main.main-intro
  .main-intro__intro-block
    .introduction-block
      .introduction-block__content
        .introduction-block__front
          .introduction-block__main

              .introduction-block__personal-info

                include ../components/person

              .introduction-block__social-info
                ul.social-links.social-links_theme-aquamarine
                  li.social-links__item
                    a.social-links__link(href="https://vk.com/id67917958" target="_blank")
                      span.fa.fa_vk
                  li.social-links__item
                    a.social-links__link(href="https://github.com/Gesparo" target="_blank")
                      span.fa.fa_github_alt
                  li.social-links__item
                    a.social-links__link(href="#" target="_blank")
                      span.fa.fa_linkedin

          ul.introduction-block__links
            li.introduction-block__links-item
              a.introduction-block__link(href="works.html")
                span.introduction-block__link-text Мои работы
            li.introduction-block__links-item
              a.introduction-block__link(href="about.html")
                span.introduction-block__link-text Обо мне
            li.introduction-block__links-item
              a.introduction-block__link(href="blog.html")
                span.introduction-block__link-text Блог
        form#authorization.introduction-block__back(method="POST")
          .introduction-block__main
            .introduction-block__header
              .normal-title
                span.normal-title__text Авторизуйтесь
            .introduction-block__form-group
              .introduction-block__input-containter
                label.introduction-block__icon-label.introduction-block_user-icon
                input.introduction-block__input(type="text" name="login" placeholder="Логин")
            .introduction-block__form-group
              .introduction-block__input-containter
                label.introduction-block__icon-label.introduction-block_pass-icon
                input.introduction-block__input(type="password" name="login" placeholder="Пароль")
            .introduction-block__form-group
              input.introduction-block__checkbox.introduction-block_hidden-input(type="checkbox" name="confirmPerson" id="confirmPerson")
              label.introduction-block__styled-label(for="confirmPerson") Я человек
            h3.introduction-block__form-section-header Вы точно не робот?
            .introduction-block__form-group.introduction-block_center-aligned
                input.introduction-block__radio.introduction-block_hidden-input(type="radio" id="radConfirmPerson1" name="secondConfirmPerson" value="y" checked)
                label.introduction-block__styled-radio(for="radConfirmPerson1") Да
                input.introduction-block__radio.introduction-block_hidden-input(type="radio" id="radConfirmPerson2" name="secondConfirmPerson" value="n")
                label.introduction-block__styled-radio(for="radConfirmPerson2") Не уверен
          ul.introduction-block__links
            li.introduction-block__links-item
              a.introduction-block__link(href="/")
                span.introduction-block__link-text На главную
            li.introduction-block__links-item
              button.introduction-block__button(type="submit")
                span.introduction-block__link-text Войти
            li.introduction-block__links-item
