.parallax
  .parallax__layer
    img.parallax__img.parallax_sky(src="assets/img/parallax/Layer_7.png")
  .parallax__layer
    img.parallax__img(src="assets/img/parallax/Layer_6.png")
  .parallax__layer
    img.parallax__img(src="assets/img/parallax/Layer_5.png")
  .parallax__layer.parallax_cloud3
    img.parallax__img(src="assets/img/parallax/cloud_3.png")
  .parallax__layer
    img.parallax__img(src="assets/img/parallax/Layer_4.png")
  .parallax__layer
    img.parallax__img(src="assets/img/parallax/Layer_3.png")
  .parallax__layer.parallax_cloud2
    img.parallax__img(src="assets/img/parallax/cloud_2.png")
  .parallax__layer
    img.parallax__img(src="assets/img/parallax/Layer_2.png")
  .parallax__layer
    img.parallax__img(src="assets/img/parallax/Layer_1.png")
  .parallax__layer.parallax_cloud1
    img.parallax__img(src="assets/img/parallax/cloud_1.png")