.popup-menu
  .popup-menu__close
    .fa.fa_times
  .popup-menu__content
    ul.popup-menu__list
      li.popup-menu__item
        a.popup-menu__link
          .popup-menu__item-content
            .large-title
              span.large-title__text Мои работы
      li.popup-menu__item
        a.popup-menu__link
          .popup-menu__item-content
            .large-title
              span.large-title__text Блог
      li.popup-menu__item
        a.popup-menu__link
          .popup-menu__item-content
            .large-title
              span.large-title__text Обо мне
      li.popup-menu__item
        a.popup-menu__link
          .popup-menu__item-content
            .large-title
              span.large-title__text Авторизация
