h2.admin-content__title.
  Страница "Обо мне"
form.admin-content__form
  h3.admin-content__form-title.
    Добавить запись
  input.admin-content__form-input(placeholder="Название" name="title")
  input.admin-content__form-input(placeholder="Дата" name="date" type="date")
  textarea.admin-content__form-textarea(placeholder="Содержание" name="content" rows="6")

  button.admin-content__form-button(type="submit").
    Добавить
