h2.admin-content__title.
  Страница "Обо мне"
form.admin-content__form
  h3.admin-content__form-title.
    Добавить запись
  input.admin-content__form-input(placeholder="Название" name="title")
  input.admin-content__form-input(placeholder="Технологии" name="tech")

  input.admin-content__from-input.admin-content_hidden(name="photo" type="file")
  .admin-content__form-upload
    img.admin-content__upload-image(src="assets/img/upload.png")
    span.admin-content__upload-text.
      Загрузить картинку

  button.admin-content__form-button.admin-content_fixed-button(type="submit").
    Добавить