.articles-nav {
  width: 25%;
  text-align: right;
  float: left;
  padding-top: 10px;

  &__item {
    padding: 10px 15px;
    margin-bottom: 10px;
    line-height: 1.62;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover, &:focus, &:active {
      color: #00bfa5;
      border-right: 3px solid #00bfa5;
      font-weight: bold;
    }
  }

  &__link {
    display: inline-block;
    color: inherit;
    font-weight: inherit;
  }

  &_active {
    color: #00bfa5;
    border-right: 3px solid #00bfa5;
    font-weight: bold;
  }

  @include tablets() {
    display: none;
  }

  &_fixed {
    float: none;
    position: fixed;
  }
}