.large-title {
  font-family: Bernier;
  font-size: 63px;
  margin: 0 auto;
  text-align: center;
  line-height: 1;

  @include phones() {
    font-size: 38px;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    max-width: 305px;

    @include phones() {
      max-width: 250px;
      margin: 0 10px;
    }
  }

  &:before, &:after {
    content: "-";
    height: 100%;
    display: inline-block;
  }
}