.main-content {
  display: table;
  width: 100%;

  @include tablets() {
    display: block;
  }

  &__container {
    @extend %clearfix;
  }

  &__header {
    display: table-caption;
    padding-bottom: 70px;
    padding-top: 55px;
    background-color: #faf8f0;

    @include tablets() {
      display: block;
    }
  }

  &__left-side, &__right-side {
    text-align: center;
    vertical-align: top;
    width: 50%;
    display: table-cell;

    @include tablets() {
      display: block;
      width: 100%;
      padding: 45px 10px;
    }

    @include phones() {
      padding: 25px 10px;
    }
  }

  &__left-side {
    background-color: #efeee9;
  }

  &__right-side {
    background-color: #eeebdf;
  }

  &_articles {
    padding-top: 60px;
  }
}