.page {
  background: url("../img/mountains1200.png") 0 0 no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;

  @include gradientTriangle(#faf8f0, #faf8f0);

  &__information-block {
    width: 380px;
    height: 240px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -190px;
    color: #fff;
  }

  &_about-me {
    &:before {
      border-color: transparent transparent transparent #f0efe9;
    }

    &:after {
      border-color: transparent transparent #efebe0 transparent;
    }
  }
}