.page-top {
  background: url("../img/mountains1200.png") 0 0 no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;

  @include gradientTriangle(#fff, #fff);

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
  }

  &__main {
    padding-top: 80px;
  }
}