.site-slider {
  width: 100%;
  text-align: center;
  height: 750px;

  @include laptop() {
    height: inherit;
  }

  @extend %clearfix;

  &__site-introduction {
    float: left;
    height: 100%;
    width: 50%;
    background-color: #f0efe9;

    @include laptop() {
      float: none;
      width: 100%;
      height: 270px;
    }

    @include phones() {
      height: 220px;
    }
  }

  &__present-site {
    height: 525px;
    padding: 105px 10px;
    float: right;
    width: 50%;
    background-color: #efebe0;

    @include laptop() {
      float: none;
      width: 100%;
    }

    @include phones() {
      height: 260px;
      padding: 50px 45px;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  &__present-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }

  &__present-list, &__present-item {
    width: 100%;
    height: 100%;
  }

  &__present-item {
    display: none;
  }

  &__nav {
    @extend %clearfix;
    height: 225px;
    float: right;
    width: 50%;

    @include laptop() {
      float: none;
      width: 100%;
    }

    @include phones() {
      height: 95px;
    }
  }

  &__nav-prev, &__nav-next {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
  }

  &__nav-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__nav-list {
    position: relative;
    top: 0;
  }

  &__nav-item {
    height: 225px;
    padding: 25px 10px 10px;

    @include phones() {
      height: 95px;
    }
  }

  &__nav-prev-img, &__nav-next-img {
    max-height: 100%;
    max-width: 100%;
  }
  &__nav-prev, &__nav-next {
    /*height: 225px;*/

    position: relative;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font: normal normal normal 16px/1 FontAwesome;
        font-size: 4rem;
        font-weight: bold;
        color: #fff;
        background-color: rgba(146, 146, 146, 0.7);
        line-height: 225px;

      @include phones() {
        line-height: 95px;
      }
    }

    &:hover {
      &:after {
        padding-top: 20px;

        @include phones() {
          padding-top: 10px;
        }
      }
    }
  } 

  &__nav-prev {
    &:after{
        content: '\f107';
    }
  }

  &__nav-next {
    &:after{
        content: '\f106';
    } 
  }
}