extends ../_layout

block variables
    //- var title = 'Welcome'

block content
    .page-top
        .page-top__header
            include ../components/header.pug
        .page-top__main
            include ../components/main.pug

    section.main-content.main-content_articles
        .container.main-content__container
            include ../components/articles-nav.pug

            .articles
              each val, index in articlesArr
                article.article(id="article" + (index + 1))
                  h2.article__header= val.title
                  .article__date
                    span.article__date-text= val.date
                  .article__content
                    each subval in val.body
                      p.article__paragraph= subval

                //include ../articles/article1
                //include ../articles/article2
                //include ../articles/article3
                //include ../articles/article4

    include ../components/footer.pug
    include ../components/popup-menu

