extends ../_layout

block variables
    - var title = 'Welcome'

block content
    .page-top
        include ../components/header.pug
        include ../components/main.pug

    section.main-content
        .container.main-content__container
            include ../components/articles-nav.pug

            .articles
                include ../articles/article1.pug
                include ../articles/article2.pug

    include ../components/footer.pug

