extends ../_layout

block variables
  - var title = 'Welcome'

block content
  .page
    header.header-intro
      .auth-block
        a.auth-block__button Авторизоваться
    main.main-intro
      .introduction-block
        .introduction-block__main
          .introduction-block__img-block
            img.introduction-block__img(src="assets/img/avatar.png")
          .introduction-block__name Мельник Максим
          .introduction-block__desc Личный сайт веб разработчика
          ul.introduction-block__social-block
            li.introduction-block__social-item
              a.introduction-block__social-link
                span.fa.fa_vk.fa_large.fa_lighter
            li.introduction-block__social-item
              a.introduction-block__social-link
                span.fa.fa_github_alt.fa_large.fa_lighter
            li.introduction-block__social-item
              a.introduction-block__social-link
                span.fa.fa_linkedin.fa_large.fa_lighter
        ul.introduction-block__links
          li.introduction-block__links-item
            a.introduction-block__link
              span.introduction-block__link-text Мои работы
          li.introduction-block__links-item
            a.introduction-block__link
              span.introduction-block__link-text Обо мне
          li.introduction-block__links-item
            a.introduction-block__link
              span.introduction-block__link-text Блог


  footer.footer-intro
    p.footer-intro__content © Владимир Астахов | создано с любовью в LoftSchool | 2016
