extends ../_layout

block variables
  - var title = 'Welcome'
  - var mainCss = 'app'

block content
  .page-intro
    include ../components/header-into.pug
    include ../components/main-intro.pug


  include ../components/footer-intro.pug
