extends ../_layout

block variables
    - var title = 'Works'
    - var simpled = true;

block content
    .page
        include ../components/header.pug
        .page__main
            .page__information-block
                include ../components/person.pug


    section.main-content
        header.main-content__header
            .large-title
                span.large-title__text Мои работы
        .main-content__left-side
            .site-introduction
                .site-introduction__header
                    .normal-title
                        span.normal-title__text Сайт 2
                .site-introduction__used-technologies
                    span.site-introduction__used-technologies-text HTML, CSS, JavaScript

            .site-introduction.site-introduction_active
                .site-introduction__header
                    .normal-title
                        span.normal-title__text Сайт школы онлайн образования
                .site-introduction__used-technologies
                    span.site-introduction__used-technologies-text HTML, CSS, JavaScript
                a.site-introduction__link Посмотреть сайт

                a.site-introduction__link Посмотреть сайт
            .site-introduction
                .site-introduction__header
                    .normal-title
                        span.normal-title__text Сайт 3
                .site-introduction__used-technologies
                    span.site-introduction__used-technologies-text HTML, CSS, JavaScript
                a.site-introduction__link Посмотреть сайт
        .main-content__right-side
            .site-slider
                .site-slider__present-site
                    img.site-slider__present-img(src="assets/img/work-3.png")
                    img.site-slider__present-img.site-slider_active-present(src="assets/img/work-1.png")
                    img.site-slider__present-img(src="assets/img/work-2.png")                    
                .site-slider__nav
                    .site-slider__nav-prev
                        img.site-slider__nav-prev-img(src="assets/img/work-1.png")
                        img.site-slider__nav-prev-img.site-slider_active-slide(src="assets/img/work-2.png")
                        img.site-slider__nav-prev-img(src="assets/img/work-3.png")
                    .site-slider__nav-next
                        img.site-slider__nav-next-img(src="assets/img/work-1.png")                        
                        img.site-slider__nav-next-img.site-slider_active-slide(src="assets/img/work-3.png")
                        img.site-slider__nav-next-img(src="assets/img/work-2.png")
    section.feedback
        header.feedback__header
            .large-title
                span.large-title__text Что обо мне говорят
        .container
            .feedback__comments
                ul.feedback__comments-list
                    li.feedback__comments-item
                        .feedback__comment.
                            Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только
                            самых тяжелых испытаний и бессонных ночей!
                        .feedback__comments-person
                            .feedback__comments-img-block
                                img.feedback__comments-img(src="assets/img/commentato1.png")
                            .feedback__commentator
                                .feedback__comments-commentator Ковальчук Дмитрий
                                .feedback__comments-commentator-job основатель Loftschool
                    li.feedback__comments-item
                        .feedback__comment.
                            Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком
                            старых браузерах!
                        .feedback__comments-person
                            .feedback__comments-img-block
                                img.feedback__comments-img(src="assets/img/commentato2.png")
                            .feedback__commentator
                                .feedback__comments-commentator-name Зар Захаров
                                .feedback__comments-commentator-job преподаватель


        .feedback__form-wrapper
            .feedback__form-background
            form.feedback__form
                .feedback__form-main
                    .feedback__form-header
                        .normal-title
                            span.normal-title__text Связаться со мной
                    .feedback__form-group
                        input.feedback__form-input(type="text" name="name" placeholder="Имя")
                    .feedback__form-group
                        input.feedback__form-input(type="email" name="email" placeholder="Email")
                    .feedback__form-group
                        textarea.feedback__form-textarea(name="comment" rows="4" placeholder="Введите сообщение")
                ul.feedback__form-buttons
                    li.feedback__button-item
                        button.feedback__button(type="submit") Отправить
                    li.feedback__button-item
                        button.feedback__button(type="reset") Очистить
        .feedback__page-up
            span.fa.fa_angel-up

    include ../components/footer.pug

