extends ../_layout

block variables
    - var title = 'Welcome'
    - var simpled = true;

block content
    .page
        include ../components/header.pug
        .page__main
            .page__information-block
                include ../components/person.pug


    section.main-content
        header.main-content__header
            .large-title
                span.large-title__text Мои работы
        .main-content__left-side
            .site-introduction
                .site-introduction__header
                    .normal-title
                        span.normal-title__text Сайт школы онлайн образования
                .site-introduction__used-technologies
                    span.site-introduction__used-technologies-text HTML, CSS, JavaScript
                a.site-introduction__link Посмотреть сайт
        .main-content__right-side
            .site-slider
                .site-slider__present-site
                    img.site-slider__present-img(src="assets/img/work-1.png")
                .site-slider__nav
                    .site-slider__nav-prev
                        img.site-slider__nav-prev-img(src="assets/img/work-2.png")
                    .site-slider__nav-next
                        img.site-slider__nav-next-img(src="assets/img/work-3.png")

    include ../components/footer.pug

