extends ../_layout

block variables
    - var title = 'Works'
    - var simpled = true;

block content
    .page
        include ../components/header.pug
        .page__main
            .page__information-block
                include ../components/person.pug


    section.slide-block
        header.slide-block__header
            .large-title
                span.large-title__text Мои работы

        .site-slider
            .site-slider__present-site
                ul.site-slider__present-list
                    li.site-slider__present-item
                        img.site-slider__present-img(src="assets/img/work-1.png")
                    li.site-slider__present-item.site-slider__active-slide
                        img.site-slider__present-img(src="assets/img/work-2.png")
                    li.site-slider__present-item
                        img.site-slider__present-img(src="assets/img/work-3.png")

            .site-introduction.site-slider__site-introduction
                ul.site-introduction__list
                    li.site-introduction__item
                        .site-introduction__item-content
                            .site-introduction__header
                                .normal-title
                                    span.normal-title__text Сайт 1
                            .site-introduction__used-technologies
                                span.site-introduction__used-technologies-text HTML, CSS, JavaScript
                            a.site-introduction__link Посмотреть сайт
                    li.site-introduction__item.site-introduction_active
                        .site-introduction__item-content
                            .site-introduction__header
                                .normal-title
                                    span.normal-title__text Сайт школы онлайн образования
                            .site-introduction__used-technologies
                                span.site-introduction__used-technologies-text HTML, CSS, JavaScript
                            a.site-introduction__link Посмотреть сайт
                    li.site-introduction__item
                        .site-introduction__item-content
                            .site-introduction__header
                                .normal-title
                                    span.normal-title__text Сайт 2
                            .site-introduction__used-technologies
                                span.site-introduction__used-technologies-text HTML, CSS, JavaScript
                            a.site-introduction__link Посмотреть сайт

            .site-slider__nav
                .site-slider__nav-prev
                    .site-slider__nav-wrap
                        ul.site-slider__nav-list
                            li.site-slider__nav-item
                                img.site-slider__nav-prev-img(src="assets/img/work-1.png")
                            li.site-slider__nav-item
                                img.site-slider__nav-prev-img(src="assets/img/work-2.png")
                            li.site-slider__nav-item.site-slider__active-slide
                                img.site-slider__nav-prev-img(src="assets/img/work-3.png")
                .site-slider__nav-next
                    .site-slider__nav-wrap
                        ul.site-slider__nav-list
                            li.site-slider__nav-item.site-slider__active-slide
                                img.site-slider__nav-next-img(src="assets/img/work-1.png")
                            li.site-slider__nav-item
                                img.site-slider__nav-next-img(src="assets/img/work-3.png")
                            li.site-slider__nav-item
                                img.site-slider__nav-next-img(src="assets/img/work-2.png")

    include ../components/feedback
    include ../components/footer.pug

    include ../components/popup-menu

